$bookRatio: 110/178;
$bookWidth: 128px;
$bookHeight: $bookWidth / $bookRatio;


.book .row {
  border: 1px black solid;

  .book-thumbnail {
    margin: 10px;

    float: left;
    .present {
      display: block;
      width: $bookWidth;
    }

    .missing {
      width: $bookWidth;
      height: $bookHeight;
      background: #4444FF;
    }
  }

  .content {
    margin: 10px;
  }

  .footer {
    clear: both;
  }
}