$bookRatio: 110/178;
$bookHeight: 200px;
$bookWidth: $bookHeight * $bookRatio;

div.thumbnail-missing {
  width: $bookWidth;
  height: $bookHeight;
  background: #4444FF;
}

.book img {
  display: block;
}